<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    You've Got!<br>
    <img src="/img/<%=getmons[0].image%>"/>
    
    <button>ok</button>
  </body>
</html>
