<html>
    <head>
      <style>
        table,td,th{
         border: 1px solid black
        }
      </style>
  
  
      <meta charset="utf-8">
      <title>MOnster</title>
    </head>
    <body>
      <ul>
        <li><h3>Home</h3></li>
        <li><h3>Arena</h3></li>
        <li><h3>Shop</h3></li>
      </ul>
  
  
      your status:
      <br>
      <table>
        <tr>
          <th>name</th>
          <th>wins</th>
          <th>lose</th>
          <th>credits</th>
        </tr>
      </table>
      <br><br>
      <table>
        <tr>
          <th>Warrior</th>
          <th>Health</th>
          <th>Min Attack</th>
          <th>Max Attack</th>
          <th>Defense</th>
        </tr>
        <tr>
          <td><img src="./img/gangster.gif"></td>
          <td>100</td>
          <td>12</td>
          <td>17</td>
          <td>20</td>
        </tr>
      </table>
      <br>
      <button>search opponent</button>
    </body>
  </html>
  
  