<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>REGISTER PAGE</title>
  </head>
  <body>
    <form action="/register" method="POST">
      <input type="text" name="name" placeholder="UserName"/>
      <input type="password" name="password" placeholder="Password"/>
      <input type="submit" value="REGISTER"/>
    </form>
  </body>

</html>