<!DOCTYPE html>
<html>
  <head>
  <style>
  body {margin:0;}

  .topnav {
    overflow: hidden;
    background-color: #333;
  }

  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
      background-color: #4CAF50;
      color: white;
  }
  table,th,td{
    border:1px solid black;
  }
  </style>

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="topnav">
  <a id="menu-prof" href="/profile">Profile</a>
  <a href="/arena/<%=id%>">Arena</a>
  <a href="/shop">Shop</a>
</div>
